Source: spt
Section: x11
Priority: optional
Maintainer: Stanislav Korlev <stan.korolev@mail.ru>
Build-Depends: debhelper-compat (= 13),
               dpkg-dev (>= 1.16.1.1)
Standards-Version: 4.6.2
Homepage: https://tools.suckless.org/spt/
Rules-Requires-Root: no

Package: spt
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Recommends: suckless-tools, x11-xserver-utils
Provides: x-window-manager
Description: spt is a simple timer that uses
  the pomodoro technique that doubles your efficiency.
